@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .masked-img {
      mask-image: url("/images/ticket.png");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 50%;
  }
}

@font-face {
  font-family: 'Great Vibes';
  src: url('/fonts/great_vibes/GreatVibes-Regular.ttf') format('truetype');
}

.font-great-vibes {
  font-family: 'Great Vibes', cursive;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
